body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display:block;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px;
}

.container {
    text-align: center;
    background-color:khaki;
    padding: 20px;
    margin: 10px;
}

#movies-container {
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: bisque;
}

.movie {
    width: 200px;
    margin: 10px;
    background-color:lightgray;
}

.movie img {
    width: 50%;
}

.movie-info {
    padding: 10px;
}

